{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'pages/public/gallery.html.twig' %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%count member", "%count members", nb_members)|replace({'%count': nb_members}),
        'route': {
            'name': 'filterPublicMembersGallery'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if nb_members > 0 %}
        {% for member in members.staff %}
            {{ _self.drawEntry(member) }}
        {% endfor %}
        {% for member in members.members %}
            {{ _self.drawEntry(member) }}
        {% endfor %}
    {% else %}
        <div class="ui small message">
            <div class="content">
                <em>{{ _T('No member') }}</em>
            </div>
        </div>
    {% endif %}
{% endblock %}
