{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
<header id="top-navbar" class="ui top fixed menu">
    <a class="toc item" tabindex="0">
        <i class="sidebar icon" aria-hidden="true"></i>
        <span class="visually-hidden">{{ _T("Menu") }}</span>
    </a>
    <div class="header item">
        <img src="{{ url_for("logo") }}" width="{{ logo.getOptimalWidth() }}" height="{{ logo.getOptimalHeight() }}" alt="[ Galette ]" class="logo" />
        <span>{{ preferences.pref_nom }}</span>
    </div>
    <nav class="ui fluid container">
        {% include "elements/navigation/public_pages.html.twig" with {
                tips_position: "bottom center",
                sign_in: true,
                sign_in_side: 'right',
                mode: "topbar"
        } %}

        {% include "elements/language.html.twig" with {
                ui: "dropdown"
        } %}

        {% if callstatic('\\Galette\\Core\\Galette', 'isDemo') %}
            <div class="item">
                {% include "elements/modes.html.twig" %}
            </div>
        {% endif %}
    </nav>
</header>
